<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo">


    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.demo.HomeActivity"
            android:label="Demo功能列表"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.demo.notification.NotificationSenderActivity"
            android:label="通知发送器"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.demo.blur.BlurActivity"
            android:label="高斯模糊Demo"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity
            android:name="com.demo.fullScreen.FullScreenActivity"
            android:label="状态栏半透明"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.demo.clip.ClipActivity"
            android:label="View Clip"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.demo.ghost.GhostEyesActivity"
            android:label="GhostInstaller"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>

</manifest>